.main-container {
    width: 100%;
    border: 5px solid black;
    padding: 5px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 10px;
}

.container-one, .container-two, .container-three  {
    width: 500px;
    height: 500px;
    border: 2px solid black;
}
.container-one {
    background-color: pink;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-direction: column;
    
}
.container-two {
    background-image: linear-gradient(to right top, navy, indigo, purple);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    flex-direction: row;
}
.container-three {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: flex-end;
    gap: 10px;
}
.abc {
    width: 100px;
    height: 100px;
}

.a {
    background-color: red;
}

.b {
    background-color: green;
}

.c {
    background-color: blue;
}

.d {
    background-color: rgb(70, 0, 110);
}

.e {
    background-color: rgb(58, 224, 7);
    transform: rotate(45deg);
    animation: rotation 10s infinite linear;
}
@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }
  

.f {
    background-color: rgb(238, 156, 4);
}

.g {
    border: 2px solid black;
    box-shadow: 5px 10px;
    margin-right: 10px;
}

.h {
    border: 2px solid black;
    margin-right: 10px;
}

.i {
    border: 2px solid black;
    box-shadow: 5px 10px;
    margin-right: 10px;
}